# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/

# Environment Variables & Secrets
.env
*.pem
*.key

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# Streamlit
.streamlit/config.toml

# IDEs
.vscode/
.idea/
*.swp

# OS generated
.DS_Store
Thumbs.db
